<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="none center" style="overflow-x:hidden;height:82px;">
    <div fxLayoutGap="25px">
      <button mat-icon-button (click)="toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <a mat-icon-button [routerLink]="['/home']">
        <img src="../assets/images/angular_home.png" style="height:50px;width:50px">
      </a>

      <a mat-button *ngIf="loggedInStatus()" [routerLink]="['/register']"> <h6>Create Account</h6> </a>
      <a mat-button *ngIf="loggedInStatus()" [routerLink]="['/login']"> <h6>Login</h6> </a>
      <a mat-button [routerLink]="['all-products']"> <h6>All Products</h6> </a>
      <a mat-button *ngIf="!loggedInStatus()" (click)="logOut()"><h6>Logout</h6></a>
    </div>
    <app-search style="margin-left:170px"></app-search>
    <div fxFlex="170px"></div>
    <a mat-button fxLayoutAlign="end center" [routerLink]="['/userDetails']"><h6>Welcome {{currentUser}}</h6></a>
    <shopping-cart fxLayoutAlign="end center"></shopping-cart>

  </mat-toolbar-row>

</mat-toolbar>
