<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" style="overflow-x:hidden;">
    <div>
    <button mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a mat-icon-button [routerLink]="['/home']">
      <img src="../assets/images/angular_home.png" style="height:50px;width:50px">
    </a>

    <a mat-button [routerLink]="['/register']"> Create Account </a>
    <a mat-button [routerLink]="['/login']"> Login </a>
    <a mat-button [routerLink]="['/product-page','GR1']"> Products </a>
    <a mat-button [routerLink]="['all-products']"> All Products </a>
    <a mat-button [routerLink]="'/activities'"> Activities </a>
    <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
    </div>

    <shopping-cart fxFlex="noshrink" fxLayoutAlign="end center"></shopping-cart>

  </mat-toolbar-row>

  <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center">
    <a mat-button [routerLink]="['/test']">Welcome {{user}}</a>
  </mat-toolbar-row>
</mat-toolbar>
