<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" style="overflow-x:hidden;">
    <div>
    <button mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a mat-button [routerLink]="['/home']">
      <mat-card-title >Home</mat-card-title>
    </a>

    <a mat-button [routerLink]="['/register']"> Create Account </a>
    <a mat-button [routerLink]="['/login']"> Login </a>
    <a mat-button [routerLink]="'/contacts'"> Contact Us </a>
    <a mat-button [routerLink]="'/create-contact'"> About Us </a>
    <a mat-button [routerLink]="'/activities'"> Activities </a>
    <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
    </div>

    <shopping-cart fxFlex="noshrink" fxLayoutAlign="end center"></shopping-cart>

  </mat-toolbar-row>

  <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center">
    <a mat-button [routerLink]="['/user']">Welcome {{user}}</a>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <div>

  <mat-toolbar color="primary">
    <mat-toolbar-row class="big">
      <div fxLayout="row" fxFlexFill >
        <div class="" fxLayout="column" >
          <span class="textbig" fxFlexOffset="18px">Home</span>
        </div>

        <div class="" fxFlexAlign="end" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="1000px">
          <div class="">
        <a routerLink="users">New Collections</a>
          </div>
          <div class="">
          <a routerLink="/"> Sign up/Login</a>
          </div>
          <div class="">
            <a routerLink="/">Contact Us</a>
          </div>

        </div>

          <div  fxLayoutAlign="end " style="width:100%;" flex-grow="3">
          <mat-form-field appearance="standard" >
            <mat-label>Search</mat-label>
            <input matInput value="" placeholder="">
          </mat-form-field>
        </div>
</div>
    </mat-toolbar-row>
  </mat-toolbar>
</div> -->
