<div fxLayout="column">

  <div>
    shipping address
  </div>

  <div>
    <form>
      <div fxLayout="column">

        <div fxLayout="row">

          <mat-form-field>
            <input matInput required placeholder="First Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput required placeholder="Last Name">
          </mat-form-field>
        </div>

        <mat-form-field style="width:200px">
          <textarea matInput required placeholder="Address"></textarea>
        </mat-form-field>

      </div>
    </form>
  </div>

</div>
