<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" label="Address">
    <app-checkout>
      <button mat-raised-button color="accent" matStepperNext type="submit">Go to Payment</button>
    </app-checkout>

  </mat-step>
  <mat-step label="Payment">
    <h1>Payment</h1>

    <button type="button" mat-button matStepperPrevious>Back</button>
    <button type="submit" mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Done">
    <h1>You are now done</h1>
    <div>
      <button mat-raised-button matStepperPrevious type="button">Back</button>
      <button mat-raised-button type="button" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
