.hide{
  height:0px;
  width:0px;
}
//
//
//
//
// .cdk-overlay-container{
//     left:200px;
//     top:200px;
// }
// .cdk-overlay-connected-position-bounding-box{
//     top:0 !important;
//
// }
//
//











::ng-deep .mat-menu-panel {
  margin-top: -30px;
  // margin-left: 50px;
  max-width: none !important;
  max-height: none !important;
}
//
::ng-deep .mat-menu-content{
  height:550px !important;
  width:500px !important;
  z-index:1050;
}
//
//
//
// ::ng-deep .mat-drawer-backdrop,.cdk-overlay-panecdk-overlay-pane
::ng-deep .cdk-overlay-pane
{
  margin-left:200px;
}
