<!-- <mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-name="name">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Log off {{name}}</button>
  </ng-template>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Sally'}">
  <mat-icon>more_vert</mat-icon>
</button>

<button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Bob'}">
  <mat-icon>more_vert</mat-icon>
</button> -->

<div fxLayout="column" fxLayoutGap="100px">
  <button [matMenuTriggerFor]="menu1" #trigger1="matMenuTrigger" (mouseenter)="enter(trigger1)" (mouseleave)="leave(trigger1)" mat-list-item >Groceries</button>
  <button [matMenuTriggerFor]="menu2" #trigger2="matMenuTrigger" (mouseenter)="enter(trigger2)" (mouseleave)="leave(trigger2)" mat-list-item >Fashion</button>
  <button [matMenuTriggerFor]="menu3" #trigger3="matMenuTrigger" (mouseenter)="enter(trigger3)" (mouseleave)="leave(trigger3)" mat-list-item>Furniture</button>
  <button [matMenuTriggerFor]="menu4" #trigger4="matMenuTrigger" (mouseenter)="enter(trigger4)" (mouseleave)="leave(trigger4)" mat-list-item>Electronics</button>
</div>

<mat-menu #menu1="matMenu" [hasBackdrop]="false" >
  <div (mouseenter)="enterMenu()"  (mouseleave)="leaveMenu(trigger1)" fxFlexFill>
    <button class="hide" mat-button></button>
    <button  mat-menu-item *ngFor="let grocery of Grocery">{{grocery}}</button>
   </div>
</mat-menu>

<mat-menu #menu2="matMenu" [hasBackdrop]="false" >
 <div (mouseenter)="enterMenu()"  (mouseleave)="leaveMenu(trigger2)" fxFlexFill>
   <button class="hide" mat-button></button>
   <button  mat-menu-item *ngFor="let fashion of Fashion">{{fashion}}</button>
  </div>
</mat-menu>

<mat-menu #menu3="matMenu" [hasBackdrop]="false" >
<div (mouseenter)="enterMenu()"  (mouseleave)="leaveMenu(trigger3)" fxFlexFill>
  <button class="hide" mat-button></button>
  <button  mat-menu-item *ngFor="let furniture of Furniture">{{furniture}}</button>
 </div>
</mat-menu>

<mat-menu #menu4="matMenu" [hasBackdrop]="false" >
<div (mouseenter)="enterMenu()"  (mouseleave)="leaveMenu(trigger4)" fxFlexFill>
  <button class="hide" mat-button></button>
  <button  mat-menu-item *ngFor="let electronics of Electronics">{{electronics}}</button>
 </div>
</mat-menu>
