<!-- <div fxLayout="column" fxFlex="grow"> -->

<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill class="mdc-layout-grid">


  <mat-card class="container" fxFlex="30">

    <mat-card-title fxLayout="row" fxLayoutAlign="center center">Login</mat-card-title>

    <br>
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxLayoutAlign="center center">

          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username">
            <mat-error>Username is required</mat-error>
          </mat-form-field>

          <mat-form-field >
            <input matInput placeholder="Password" [type]="Type" ng-blur="focus=false" (click)="onFocus()" formControlName="password">
            <mat-hint *ngIf="(signupForm.controls.password.value.length<6 && focus==true)||!signupForm.get('password').dirty">At least 6 characters</mat-hint>
            <button mat-icon-button matSuffix color="primary" type="button" [disabled]="signupForm.get('password').value.length<1" (click)="showPassword()" >
              <mat-icon>{{visible}}</mat-icon>
            </button>

            <mat-error *ngIf="signupForm.get('password').hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="signupForm.get('password').hasError('minlength')">Password is invalid</mat-error>
          </mat-form-field>


      </div>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center">

          <button mat-raised-button type="button" (click)="register()" color="primary">Create Account</button>
          <button [disabled]="!signupForm.valid" mat-raised-button type="submit" color="primary">Login</button>

        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!-- </div> -->
