


<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>


  <div fxLayout="column" fxLayoutGap="30px" *ngIf="currentUserDetails">
    <h1>User Details</h1>

    <p fxFlexOffset="100px">First Name: {{currentUserDetails.firstname}}</p>
    <p>Last Name: {{currentUserDetails.lastname}}</p>
    <p>Email:{{currentUserDetails.email}}</p>

    <div fxLayout>
      <p>Password: </p>
      <div *ngIf="getVisibility()" fxLayout>
        <div *ngFor="let item of password(currentUserDetails.password.length)">*</div>
      </div>
      <div *ngIf="!getVisibility()">{{currentUserDetails.password}}</div>
      <mat-icon fxFlexOffset="20px" (click)="changeVisibility()" style="cursor:pointer">{{visible}}</mat-icon>
    </div>


  </div>

  <h1 *ngIf="!currentUserDetails">
    Sign in First!
  </h1>


</div>
