@import "@material/layout-grid/mdc-layout-grid";

.mat-ripple-element {
  transition-duration: 0ms !important;
}
.ImageRipple{
  ::ng-deep .mat-ripple,.mat-button-ripple,.mat-button-ripple-round { display: none; }
  ::ng-deep .mat-button-focus-overlay { background-color: transparent!important; }
}
// .cdk-program-focused{ opacity: 0 !important; }

.size{
    transform: scale(1,1);
  max-height:200px;
  max-width:200px;
}

.small_size{
  transform: scale(1,1);
  max-height: 100px;
  max-width: 100px;
}

.title{
  margin-top:25px !important;
  font-size: 50px;
}

.ImgBorder{
  border:1px solid blue;
}

.container {
    display: flex;
    height: 200px;
}

.sizing{
    width: 200px !important;
    height:100px !important;
  object-fit: cover;
  margin: 5px;
  }

::ng-deep gallery{
  background-color:white !important;
}


::ng-deep gallery-thumbs{
  height:200px !important;


}
