mat-sidenav-container,mat-sidenav{
  height:100%;
}

// ::ng-deep .cdk-overlay-connected-position-bounding-box{
//   left:100px !important;
//   top:0px !important;
// }



// mat-sidenav-container,mat-sidenav-content,mat-sidenav{
//   height:100%;
// }

// ::ng-deep .router-container {
//   max-height: 100%;
// }

mat-sidenav-content {
  display: flex;
  flex: 1 0 auto;
}

.router-container {
  height: 100%;
}
