
<mat-sidenav-container>
  <mat-sidenav  [opened]="isOpen" (openedChange)="test($event)">
    <mat-nav-list>
      <!-- <app-furniture-menu></app-furniture-menu> -->
<app-books-menu></app-books-menu>

      <!-- <a mat-list-item> Groceries </a> -->
      <!-- <a mat-list-item [routerLink]="'/create-contact'"> Furniture </a>
      <a mat-list-item [routerLink]="'/activities'"> Kitchen </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Outdoor </a> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <app-header></app-header>
    <div class="router-container">
      <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
