<app-carousel></app-carousel>

<div class="mdc-layout-grid">
  <div fxLayout="column" fxLayoutGap="50px">

<div>
    <u><h1>New Collections</h1></u>
    <div fxLayout="row"  fxLayoutAlign="space-around center" style="background-color:papayawhip">
    <img [src]=product.image (click)="navigateToProduct(i)" *ngFor="let product of products;let i=index" style="height:100px;width:100px;cursor:pointer" >
  </div>
</div>

<div>
  <u><h1>Shop by Category</h1></u>
  <div fxLayout="row" fxLayoutAlign="space-around center" style="background-color:papayawhip">
      <img [src]=product.image (click)="navigateToProduct(i)" *ngFor="let product of products;let i=index" style="height:100px;width:100px;cursor:pointer" >
</div>
</div>

  </div>
</div>
