<div fxLayout="column">
<mat-toolbar *ngIf="errorMsg" fxLayoutAlign="center center" color="warn">
  {{errorMsg}}
</mat-toolbar>
<mat-toolbar *ngIf="successMsg" fxLayoutAlign="center center" color="accent">
  {{successMsg}}
</mat-toolbar>

<div fxFlexOffset="100px" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>


  <mat-card class="container" fxFlex="30">

    <mat-card-title fxLayout="row" fxLayoutAlign="center center">Register</mat-card-title>

    <br>
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxLayoutAlign="center center">

          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstname">
            <mat-error>First Name is required</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastname">
            <mat-error>Last Name is required</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="email">
            <mat-error *ngIf="signupForm.get('email').hasError('required')">E-mail is required</mat-error>
            <mat-error *ngIf="signupForm.get('email').hasError('email')">E-mail is invalid</mat-error>
          </mat-form-field>



          <mat-form-field >
            <input matInput placeholder="Password" [type]="Type" ng-blur="focus=false" (click)="onFocus()" formControlName="password">
            <!-- <mat-hint align="end">{{signupForm.get('password').value.length}}/6</mat-hint> -->
            <mat-hint *ngIf="(signupForm.controls.password.value.length<6 && focus==true)||!signupForm.get('password').dirty">At least 6 characters</mat-hint>
            <button mat-icon-button matSuffix color="primary" type="button" [disabled]="signupForm.get('password').value.length<1" (click)="showPassword()" >
              <mat-icon>{{visible}}</mat-icon>
            </button>

            <mat-error *ngIf="signupForm.get('password').hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="signupForm.get('password').hasError('minlength')">Password is invalid</mat-error>
          </mat-form-field>


          <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button (click)="login()" type="button" color="primary">Already Have Account?</button>
            <button mat-raised-button type="submit" [disabled]="signupForm.invalid" color="primary">Create Account</button>
          </mat-card-actions>

          </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</div>
